<h1>Viewing <%= @repository.to_s %> commiters</h1>


<div class="row">
  <div class="span2">
    <div id="bonus_actions">
      <p class="main_commiter_infos"><%= image_tag "http://www.googlemapsmarkers.com/v1/2a2d9a/", :alt => "Google marps marker" %> Main commiter</p>
      <p>
        <%= link_to repository_issues_path(@repository.user, @repository.repo, :format => :json), :remote => true, :id => 'repository_issues_action' do %>
          <%= image_tag "#{request.protocol}#{request.host_with_port}#{asset_path('bug.png')}", :alt => "Bug" %>
          <span>Show open issues</span>
        <% end -%>
      </p>
    </div>
  </div>
  <div class="span10">
    <div id="commiters_map"></div>
  </div>
</div>

<div id="commiters">
  <h2>Lost commiters</h2>

  <% @repository.commiters.each do |user| -%>
  <div class="commiter well <%= 'main_commiter' if @repository.commiters.first == user %>">
    <h3 class="user_login"><%= user.login %></h3>
    <div class="user_infos">
      <h4><%= image_tag user.avatar_url, :alt => user.login, :width => 50, :height => 50 %> <%= user.name %></h4>
      <p>
        <% if user.location.present? %>
          <span class="user_location" data-lat="<%= user.lat %>" data-lng="<%= user.lng %>" ><%= user.location %></span><br/>
        <% end -%>
        <% if user.company.present? %>
          works at <%= user.company %><br/>
        <% end -%>
        <% if user.email.present? %>
          <%= mail_to user.email %><br/>
        <% end -%>
        <% if user.blog.present? %>
          <%= link_to user.blog, user.blog %>
        <% end -%>
      </p>
    </div>
  </div>
  <% end -%>
</div>
